
.wrapper{
    width:100%;
    background-color: aliceblue;
    padding: 5%;
}

#content{
    margin: auto;
    width: 60%;
    font-size: 30px;
    padding: 2%;
    box-shadow: 3px 3px 4px black;
    border-radius: 3px;
}
.label{
    margin: 2%;
    margin-right: 0;
    width: 49%;
    float: left;
}

.input{
    width: 49%;
    float: right;
}

.labelbutton button{
    width: 30%;
    font-size: 30px;
    margin:0 20%;
    background-color: white;
    border: 2px solid black;
    padding: 1%;
    color:black;
    font-weight: 500;
}

#output{
    padding: 5%;
}

#output table{
    background-color: rgb(242, 251, 255);
    padding: 3%;
    margin:auto;
    font-size: 20px;
}

table th,td{
    border-bottom: 2px solid rgb(170, 224, 245);
    text-align: center;
    width: 30%;
}
